useDynLib("fastcox")

import("Matrix")

export(cocktail,
cv.cocktail,
cv.survpath,
predict.cocktail)
S3method("print","cocktail")
S3method("predict","cocktail")
S3method("plot","cv.cocktail")
S3method("plot","cocktail")