useDynLib(fastcox, .registration = TRUE)

import("Matrix")

export(cocktail,
cv.cocktail,
cv.survpath,
predict.cocktail)
S3method("print","cocktail")
S3method("predict","cocktail")
S3method("plot","cv.cocktail")
S3method("plot","cocktail")


importFrom("grDevices", "gray.colors")
importFrom("graphics", "abline", "axis", "matplot", "points",
"segments", "text")
importFrom("methods", "new")
importFrom("stats", "approx", "predict", "weighted.mean")